* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;           /* На всю ширину родителя */
  max-width: 1200px;     /* Но не больше 1200px */
  margin: 0 auto;        /* Центрирование */
  padding: 0 15px;     /* Отступы по бокам на мобильных */
}

.header {
  width: 100%;
}

.header-nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* hero */

.hero-img {
    max-width: 100%;
}

/* grid */
.gridtest {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    gap: 10px;

    /* grid-template-columns: [first] 10% [second] 60% [third] auto; */
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-columns: 1fr 200px;
}

.grid-element {
    min-height: 100px;
    font-size: 20px;
    background-color: lightskyblue;
}

.content {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 25% autio 15%;
    grid-template-areas: 
    "menu catalog ad"
    "menu catalog ad"
    "menu catalog ."
    "menu order order"
    ;
}

.menu {
    grid-area: menu;
    background: lightgreen;
}

.ad {
    grid-area: ad;
    background: palevioletred;
}

.catalog {
    grid-area: catalog;
    background: lightskyblue;
}

.order {
    grid-area: order;
    background: lightgoldenrodyellow;
}